body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 22px;
    padding: 0;
    margin: 0;
}

.home-title {
    font-size: 2em;
}

.book, .join {
    font-size: 18px;
    padding: 15px 30px;
}

.msg p {
    font-size: .8em;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

.msg {
    line-height: 1.5em;
    background-color: aliceblue;
    padding: 35px;
}

nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align:center;
}

#background {
    height: 725px;
    background-color: blanchedalmond;
}

body {
    background-color: antiquewhite;
}

header {
    background-color: azure;
}

nav a:hover {
    background-color: yellow;
    color: blue;
}

.book, .join {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: aqua;
    color: blanchedalmond;
}

footer {
    background-color: brown;
    padding: 25px 50px;
    padding-top: 15px;
    margin-top: 200px;
}

.home-title {
    color: antiquewhite;
    margin-top: 10px;
}

h4 {
    color: blue;
}

msg h2 {
    color: blue;
}
msg p {
    color: black;
    padding-bottom: 15px;
}

footer h3 {
    color: black;
    text-decoration: underline;
}

footer a {
    color: black;
    text-decoration: none;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

a:hover {
    text-decoration: underline;
}

div {
    max-width: 1600px;
}

#logo_link {
    padding-top: 5px;
}

.social img {
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #d9c2a3;
}

main section img {
    box-sizing: border-box;
}

