.logo {
    width: 80px;
    padding: 20px;
}

header {
    background-color: #00509D;
    padding-bottom: 20px;
}

nav a {
    padding: 35px;
    margin-top: 50px;
    text-align: center;
    color: #edede9;
    font-family: Tahoma;
    text-decoration: none;
}

h2 {
    font-family: Arial;
    padding-left: 60px;
    font-weight: 800;
}

#about-img {
       grid-row: 1/2;
}

.about {
    display: grid;
    grid-template-columns: 3fr 3fr;
}

#about-msg p{
    grid-column: 3/4;
}
footer {
    background-color: #00509D;
}

.links a {
    color: #edede9;
    margin-left: 35px;
    font-family: Tahoma;
    text-decoration: none;
}

p{
    font-family: Arial;
}

h1{
    text-align: right;
    color: #edede9;
    padding: 50px;
    font-family: Arial;
    
}

.fullwidth-img {
    width: 100%;
}